<h1>My List</h1>
<div class="col-md-4">
<% if @list.nil? %>
  <%= link_to "New To-do List", new_list_path, class: 'btn btn-success' %>

<% else %>
<% if @list.destroy? %>
  <%= link_to "Delete List", @list, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete your list?' } %>
<% end %>

<% if @list.update? %>
  <%= link_to "Edit List", edit_list_path, class: 'btn bth-success' %>
<% end %>
<% end %>




