<div class="media">
  <div class="media-body">
    <h4 class="media heading">
    </h4>
    <ul>
      
      <% @items.each do |item| %>
      <li>
      <%= item.body %>
      </li>        
      <% end %>
    </ul>
  </div>
</div>