<div class="media">
  <div class="media-body">
    <h4 class="media heading">
    </h4>
    <ul>
      
      <% @items.each do |item| %>
      <div id= "<%="id-#{item.id}" %>" >
      <li>
      <%= item.body %>
      <%= link_to "", [@list, item], method: :delete, remote: true, class: 'glyphicon glyphicon-ok' %>
      <small>
      <%= item.days_left %> days left
      </small>
      </li>  
    </div>
      <% end %>

    </ul>
  </div>
</div>